<%# <h1>Admin Home</h1> %>

<div class="flex justify-between flex-wrap mt-8 w-full items-center max-w-4xl">
  <h2 class="text-2xl text-gray-800 font-medium mb-4">Daily Stats</h2>
  <div class="flex gap-10 flex-col md:flex-row justify-between w-full">
    
    <div class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg">
      <div class="flex items-start">
        <div class="flex flex-col flex-shrink-0 space-y-2">
          <span class="text-gray-400 font-bold">Revenue</span>
          <span class="text-lg font-semibold">
          <%= @quick_stats[:revenue] ? number_to_currency(@quick_stats[:revenue]) : '$0.00' %>
          </span>
        </div>
        <div class="flex items-center justify-end ml-auto h-16">
          <%= icon 'fa-solid', 'money-bill-trend-up', class: 'ml-4 text-gray-400 text-3xl' %>
        </div>
      </div>
    </div>

    <div class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg">
      <div class="flex items-start">
        <div class="flex flex-col flex-shrink-0 space-y-2">
          <span class="text-gray-400 font-bold">Total Sales</span>
          <span class="text-lg font-semibold">
          <%= @quick_stats[:sales] ? number_to_currency(@quick_stats[:sales]) : '$0.00' %>
          </span>
        </div>
        <div class="flex items-center justify-end ml-auto h-16">
          <%= icon 'fa-solid', 'money-bills', class: 'ml-4 text-gray-400 text-3xl' %>
        </div>
      </div>
    </div>

    <div class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg">
      <div class="flex items-start">
        <div class="flex flex-col flex-shrink-0 space-y-2">
          <span class="text-gray-400 font-bold">Average Sale</span>
          <span class="text-lg font-semibold">
          <%= @quick_stats[:avg_sale] ? number_to_currency(@quick_stats[:avg_sale]) : '$0.00' %>
          </span>
        </div>
        <div class="flex items-center justify-end ml-auto h-16">
          <%= icon 'fa-solid', 'gauge', class: 'ml-4 text-gray-400 text-3xl' %>
        </div>
      </div>
    </div>

    <div class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg">
      <div class="flex items-start">
        <div class="flex flex-col flex-shrink-0 space-y-2">
          <span class="text-gray-400 font-bold">Items/Sale</span>
          <span class="text-lg font-semibold">
          <%= @quick_stats[:per_sale].to_i %>
          </span>
        </div>
        <div class="flex items-center justify-end ml-auto h-16">
          <%= icon 'fa-solid', 'hand-holding-dollar', class: 'ml-4 text-gray-400 text-3xl' %>
        </div>
      </div>
    </div>
  
  </div>


  <div class="my-8 w-full">
    <h2 class="text-2xl text-gray-800 font-medium mb-4">Revenue</h2>
    <div class="w-full" data-controller="dashboard" data-dashboard-revenue-value="<%= @revenue_by_day.to_json %>">
      <canvas id="revenueChart"></canvas>
    </div>
  </div>


  <div class="flex flex-col w-full">
    <h2 class="text-2xl text-gray-800 mb-4 font-medium">Recent Unfulfilled Orders</h2>
    <table class="w-full table">
      <thead>
        <th class="border border-slate-300 p-3 text-left bg-slate-50">N°</th>
        <th class="border border-slate-300 p-3 text-left bg-slate-50">Customer</th>
        <th class="border border-slate-300 p-3 text-left bg-slate-50">Date</th>
        <th class="border border-slate-300 p-3 text-left bg-slate-50">Amount</th>
      </thead>
      <tbody>
        <%@orders.each_with_index do |order, index| %>
          <tr id="<%= dom_id order %>">
            <td data-label="N°" class="border border-slate-300 bg-white text-left p-4">
              <%= link_to (index + 1), admin_order_path(order), class: "underline" %>
            </td>
            <td data-label="Customer" class="border border-slate-300 bg-white text-left p-4"><%= order.customer_email %></td>
            <td data-label="Date" class="border border-slate-300 bg-white text-left p-4"><%= order.created_at.strftime("%B %d, %Y at %I:%M %p") %></td>
            <td data-label="Amount" class="border border-slate-300 bg-white text-left p-4">
              <%= number_to_currency(order.total) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>